@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grayText: #7A7777;
  --darkGrayBg: #D9D9D9;

  /* light theme */
  --background-light: #ffffff;
  --foreground--ligth: #000000;

    /* dark theme */
    --background-dark: #000000;
    --foreground-dark: #ffffff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: darkblue;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}